.footer-text {
    color: white;
    position: relative;
    display: flex;
    justify-content: space-between;
    font-size: 9pt;
}

.fixed-bottom {
    height: 20px;
    background-color: #003566;
}